@include media-md{
    .about__bio{
        font-size: 1.5rem;
    }
    .projects{
        &__bio-image{
            height: 40vh;
        }
        &__items{
            grid-template-columns: repeat(2,1fr);
        }
        .text-secondary{
            font-size: 3rem;
        }
    }
    .contact__list{
        grid-template-columns: repeat(2,1fr);
    }
    }
    @include media-lg{
        .projects{
            &__bio-image{
                height: 40vh;
            }
            &__items{
                grid-template-columns: repeat(2,1fr);
            }
                  }
              
    }